.first-block-title {
    color: #fff;
    font-size: 56px;
}

.first-block-text {
    color: #fff;
    font-size: 16px;
}

.first-block-footer {
    display: flex;
    width: 50%;
    text-align: center;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #10131b;
}

.first-block-footer-title {
    color: #fff;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 0;
}

.first-block-images {
    position: relative;
}

.first-block-phone {
    position: absolute;
    bottom: -5px;
    left: -92px;
    margin-left: 20px;
}

@media (max-width: 1199px) {
    .first-block-footer img {
        height: fit-content;
    }
}

@media (max-width: 992px) {

    .first-block-footer {
        width: 100%;
        justify-content: center;
    }

    .first-block-left {
        padding-bottom: 30px;
    }
}

@media (max-width: 576px) {
    .mr-auto {
        margin-right: 0 !important;
    }
}

@media (max-width: 420px) {
    .first-block-images {
        display: none;
    }

    .pb-5 {
        padding-bottom: 0 !important;
    }
}
