.navbar.navbar-expand-lg {
    justify-content: flex-end;
    padding-bottom: 50px;
    border-bottom: 1px solid #666666;
}

.header-brand {
    z-index: 1;
    padding: 50px 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.header-brand-link {
    color: #fff;
    font-size: 42px;
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.header-brand-link:hover {
    text-decoration: none;
    color: #fff;
}

.navbar-nav .nav-item .nav-link {
    border-top: 2px solid #1f2531;
    padding-top: 40px;
    color: #666666;
    text-transform: uppercase;
    transition: .3s;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #fff;
}

.navbar-nav .nav-item .nav-link:hover {
    border-top: 2px solid #d26f70;
    color: #fff;
    transition: .3s;
}

.header-pipe:after {
    content: '|';
    position: relative;
    left: 20px;
    color: #666666;
}

button:focus {
    outline: none;
}

.fas.fa-bars {
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
}

@media (max-width: 992px) {

    .navbar.navbar-expand-lg {
        padding: 0;
    }

    .navbar-nav {
        text-align: center;
        position: relative;
        z-index: 2;
        background-color: #1f2531;
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
    }

    .navbar-toggler {
        padding: 15px 10px;
    }

    .header-brand {
        padding: 0 10px;
    }

    .header-brand-link {
        margin-bottom: 0;
    }

    .navbar-nav .nav-item.mr-4 {
        margin-right: 0 !important;
    }

    .navbar-nav .nav-item .nav-link {
        padding-top: 10px;
    }

    .nav-link.header-pipe:after {
        content: none;
    }
}
