.pre-footer-wrapper {
    padding-top: 40px;
    padding-bottom: 20px;
}

.custom-link {
    color: #b86365;
    font-size: 12px;
}

.custom-link:hover {
    color: #b86365;
    text-decoration: none;
}

.custom-link:after {
    content: "»";
    padding-left: 5px;
}

.pre-footer-list li {
    border-bottom: 1px solid #2f384b;
    padding-top: 10px;
}

.pre-footer-links {
    display: block;
    color: #989898;
}

.pre-footer-links:hover {
    color: #989898;
    text-decoration: none;
}

.pre-footer-contacts {
    font-size: 12px;
    color: #989898;
    margin-bottom: 0;
    line-height: 14px;
}

.pre-footer-social {

}

.pre-footer-social li {
    border-bottom: 1px solid #2f384b;
    padding-top: 10px;
}

.pre-footer-icons {
    color: #c3c3c3;
    position: relative;
    bottom: 7px;
    font-size: 24px;
}

.pre-footer-icons a {
    color: #c3c3c3;
}

.pre-footer-icons a:hover {
    text-decoration: none;
}
