.second-block-wrapper {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 15px;
}

.second-block-circle {
    background-color: #e2e2e2;
    padding: 15px;
    border-radius: 50%;
    height: 247px;
}

.circle-content {
    background-color: #b86365;
    text-align: center;
    border-radius: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 15px;
}

.second-block-square {
    height: 100%;
    min-width: 40px;
    min-height: 40px;
    background-color: #333333;
    margin-right: 20px;
    margin-bottom: 15px;
}

.second-block-footer {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-image: url("../img/top_gradient.png") 2;
}

.second-block-footer h3 {
    font-size: 36px;
    color: #666666;
}

.second-block-footer p {
    font-size: 16px;
    color: #989898;
}

.custom-email-input, .custom-sign-up-btn {
    border: 1px solid #d1d1d1;
    background-color: #e9e9e9;
    color: #989898;
    font-size: 13px;
}

.custom-sign-up-btn {
    text-transform: uppercase;
    color: #b86365;
}

/*Slider*/

.slick-prev.slick-arrow {
    z-index: 1000;
}

.slick-prev:before {
    position: absolute;
    content: url("../img/left_arrow.png");
    top: -22px;
    left: 42px;
}

.slick-next:before {
    position: absolute;
    content: url("../img/right_arrow.png");
    top: -22px;
    right: 42px;
}

@media (max-width: 1199px) {
    .second-block-circle {
        height: 202px;
    }
}

@media (max-width: 991px) {
    .second-block-circle {
        height: 315px;
    }
}

@media (max-width: 767px) {
    .second-block-circle {
        height: 225px;
    }
}

@media (max-width: 576px) {
    .second-block-circle {
        width: 225px;
    }
}
