.bg-black {
    background-color: #282828;
}

.bg-dark-blue {
    background-color: #1f2531;
}

.bg-red {
    background-color: #b86365;
}

.color-white {
    color: #fff;
}

.color-red {
    color: #b86365;
}

.color-grey {
    color: #666666;
}

.color-light-grey {
    color: #989898;
}

.f-size-11 {
    font-size: 11px;
}

.f-size-12 {
    font-size: 12px;
}

.f-size-13 {
    font-size: 13px;
}

.f-size-14 {
    font-size: 14px;
}

.f-size-16 {
    font-size: 16px;
}

.f-size-22 {
    font-size: 22px;
}
